html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #000;
  color: #fff;
}

#timeline {
  height: 35vh;
  border-bottom: 2px solid #fff;
}

#map {
  height: 65vh;
}

.vis-item {
  color: #000;
}

.vis-item.category-war {
  background-color: #f55;
}

.vis-item.category-empire {
  background-color: #5f5;
}

.vis-item.category-migration {
  background-color: #55f;
  color: #fff;
}
